* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/* **********************HEADER MENU******************************** */

header {
    background-color: rgb(0, 0, 100);
    color: white;
    width: 100%;
}

header li {
    list-style: none;
}

header a {
    color: white;
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5% 0 5%;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.nav-brand {
    font-size: 1.2em;
}

.nav-link {
    cursor: pointer;
}

.nav-link:hover {
    text-decoration: underline;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: white;
}

/* **********************END OF HEADER MENU******************************** */

main {
    flex: 1;
    margin: 20px 5% 30px 5%;
    color: #262626;
    background-color: #fcfcfc;
    font-size: 0.89em;
}
    
label {
    display: block;
    margin: 10px;
    font-size: 0.89em;
}

button {
    padding: 6px 25px 6px 25px;
    border: transparent;
    border-radius: 5px;
    background-color: rgb(0, 0, 100);
    color: white;
    transition: 0.4s ease all;
    cursor: pointer;
    font-size: 0.89em;
}

button:hover {
    background-color: rgb(50, 50, 184);
}


/*****************BUTTONS*****************/

.cardButtons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px;
}

.jobButton, .favButtonCreate, .favButtonDelete {
    min-width: 30px;
}

.favButtonCreate {
    background-color: rgb(100, 80, 255);
}

.favButtonDelete {
    background-color: rgb(255, 80, 109);
}

.editButton {
    background-color: rgb(20, 106, 20);
}

.deleteButton {
    background-color: rgb(174, 17, 17);
}

/******************HOME*******************/

.mainTitle {
    display: block;
    text-align: center;
    margin: 10px;
    font-size: 1.3rem;
}

/****SEARCH HEADER*****/

.searchHeader {
    display: block;
    justify-content: space-evenly;
    gap: 15px;
    margin: 20px;
}

.searchKeyword, .searchSkill {
    display: flex;
    margin: 10px;
    gap: 10px;
}

.searchKeyword input, .searchSkill input {
    width: 100%;
    gap: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 2px 3px 6px #00000017;
    font-size: 0.89em;
}

/*****JOBS*******/
.card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 2px 3px 6px #00000017;
    margin: 20px 10px;
}

.card input, .textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 2px 3px 6px #00000017;
}

.jobTitle, .description, .skillsTitle, .locationTitle {
    display: block;
    margin: 5px;
}

.skillsTitle, .locationTitle{
    font-weight: bold;
}

.skills, .location {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

.skills p {
    margin: 0 10px 0 0;
}

/****************FORMS********************/

.cardForms {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 2px 3px 6px #00000017;
    margin: 20px 10px;
}

.cardForms input, .textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 2px 3px 6px #00000017;
}

.usersCardForms {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 2px 3px 6px #00000017;
}

.usersCardForms input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 2px 3px 6px #00000017;
}

.textarea {
    resize: vertical;
}

.cardForms input.error {
    border-color: red;
}

#instructions {
    font-size: 0.87em;
    color: #555;
    display: none;
}

#signUpButton, #logInButton {
    display: block;
    margin: 10px auto;
}

#googleSignInButton {
    display: block;
    width: 100%;
    border-radius: 4px;
    margin: 10px auto;
    box-shadow: 2px 3px 6px #00000017;
}

/*************FOOTER************/

footer {
    background-color: rgb(0, 0, 100);
    color: white;
    height: fit-content;
    padding: 15px 15px 20px 15px;
}

footer h4 {
    font-size: 0.8em;
    text-align: center;
}

#footer-devs-container {
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
    gap: 0 15px;
    text-align: center;
}

/* @media (max-width: 1024px) {} */

@media only screen and (min-width: 480px) {
    main, button {
        font-size: 0.92em;
    }
    .searchHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 15px;
        margin: 15px;
    }
    
    .searchKeyword, .searchSkill {
        display: flex;
        gap: 10px;
    }
}

@media only screen and (min-width: 767px) {
    main, button {
        display: flex;
        flex-direction: column;
        font-size: 0.94em;
        align-items: center;
    }

    .detailsContainer {
        display: flex;
        flex-direction: row; 
        justify-content: space-between; 
        width: 100%;
    }

    .skillsContainer, .locationContainer {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .cardForms {
        width: 50%;
        display: flex;
        flex-direction: column;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-shadow: 2px 3px 6px #00000017;
        margin: 20px 10px;
    }

    .usersCardContainer {
        width: 50%;
    }

    .usersCardForms {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-shadow: 2px 3px 6px #00000017;
    }

    .usersCardForms input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 2px 3px 6px #00000017;
    }

}

@media only screen and (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: absolute;
        right: -100%;
        top: 70px;
        gap: 0;
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 100, 0.8);
        backdrop-filter: blur(10px);
        width: 100%;
        transition: 0.3s;
        padding: 20px 0 0 0;
    }

    .nav-item {
        margin: 0 auto 20px auto;
    }

    .nav-menu.active {
        right: 0;
    }
}

@media only screen and (min-width: 992px) {
    .nav-menu {
        display: flex;
        flex-direction: row;
        position: static;
        background-color: transparent;
    }

    .hamburger {
        display: none;
    }

    main, button {
        font-size: 1em;
    }
}

@media only screen and (min-width: 1200px) {
    .navbar {
        padding: 0 10%;
    }
}